<% content_for :main do %>
	<% if !devise_error_messages!.empty? %>
	  <div class="dialog notice">
	    <%= devise_error_messages! %>
	  </div>
	<% end %>

	<div class="row">
	  <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
	  <div class="col-lg-4 col-md-4">
	  <h2>Register</h2>
	    <%= form_for(resource, :as => resource_name, :url => user_registration_path) do |f| %>

	      <div class="form-group">
	        <%= f.label :email, "Email" %>
	        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", required:true %>
	      </div>

	      <div class="form-group">
	        <%= f.label :password, t("labels.password") %>
	        <%= f.password_field :password, class: "form-control", required:true %>
	      </div>

	      <div class="form-group">
	        <%= f.label :password_confirmation, "Password confirmation" %>
	        <%= f.password_field :password_confirmation, class: "form-control", required: true %>
	      </div>

	      <div class="form-group">
	        <div><%= f.submit "Sign up", class: "btn-submit btn btn-block btn-lg" %></div>
	      </div>

	    <% end %>
	    <div class="form-group">
	      <%= render "devise/shared/links" %>
	    </div>
	  </div>
	</div>
<% end %>
