<ul>
  <% result[:items].each do |r| %>
    <li>
      <div class="google-container">
        <% if r.type == 'plus#person' %>
          <div class="google-profile-image">
            <a href="<%= r.url %>">
              <img src="<%= r.image %>" />
            </a>
          </div>
          <div class="google-profile-name">
            <a href="<%= r.url %>" class="plus-profile-name">
              <%= r.username %>
            </a>
          </div>
        <% else %>
          <div class="activity-header">
            <div class="activity-profile-image">
              <a href="<%= r.profileurl %>"><img src="<%= r.profileimage %>" /></a>
            </div>
            <div class="activity-profile-name">
              <a href="<%= r.profileurl %>"><%= r.username %></a>
            </div>
          </div>
          <div class="activity-body">
            <p><%= r.content.html_safe %></p>
            <hr />
            <% r.attachments.each do |a| %>
              <% if a['objectType'] == 'article' %>
                <h2><%= a['displayName'] %></h2>
                <a href="<%= a['url'] %>"><%= a['url'] %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
      <hr />
    </li>
  <% end %>
</ul>