<ul>
	<% result["instagram"][:items].each do |r| %>
		<li nextpagetoken="<%= result['instagram'][:pagetoken] %>">
			<a href="<%= r.url %>" target="_blank">
				<% if r.type == "media" %>
					<div class="flickr-image">
						<img src=<%= r.images.low_resolution.url %> class="flickr-image" align="center" />
						<div class="flickr-content" style="display:none;">
							<span class="title"><%= r.title %></span>
							<% if r.content != nil %>
								<p><%= r.content.html_safe %></p>
							<% end %>
						</div>
					</div>
				<% elsif r.type == "user" %>
					<div class="flickr-image">
						<img src=<%= r.profile_picture %> class="flickr-image" align="center" />
						<div class="flickr-content" style="display:none;">
							<span class="title">User: <%= r.full_name %></span>
							<p><%= r.bio.html_safe %></p>
						</div>
					</div>
				<% end %>
			</a>
		</li>
	<% end %>
	<% if result["instagram"][:items].length == 0 %>
		<li class="error">No results</li>
	<% end %>
</ul>
