<ul>
  <% result["twitter"][:items].each do |r| %>
    <li nextpagetoken="<%= r.id %>">
      <div class="tweet-container">
        <div class="tweet-image">
          <img src="<%= r.image %>" class="tweet-profile-image" />
        </div>
        <div class="tweet-context">
          <a href="<%= r.url %>" target="_blank">
            <div class="tweet">
              <h4><%= r.name %> <span class="tweet-username">@<%= r.username %></span></h4>
              <p><%= r.content %></p>
            </div>
          </a>
        </div>
      </div>
      <hr />
    </li>
  <% end %>
  <% if result["twitter"][:items].length == 0 %>
    <li class="error">No results</li>
  <% end %>
</ul>
