<ul>
	<% result["youtube"][:items].each do |r| %>
		<li nextpagetoken="<%= result['youtube'][:page_token] %>">
			<% if r.type == 'youtube#video' %>
				<div class="youtube-video" id="<%= r.id %>">
					<img src="<%= r.thumbnails['medium']['url'] %>" class="youtube-video-thumb" onclick="changeToVideo('<%= r.id %>'); return false;" />
				</div>
			<% elsif r.type == 'youtube#playlist' %>
				<a href="<%= r.url %>" target="_blank"><img src="<%= r.thumbnails['high']['url'] %>" /></a>
			<% else %>
				<div class="youtube-channel">
					<div class="youtube-channel-image">
						<a href="<%= r.url %>" target="_blank"><img src="<%= r.thumbnails['default']['url'] %>" /></a>
					</div>
					<div class="youtube-channel-title">
						<a href="<%= r.url %>" target="_blank"><%= r.title %></a>

						<p><%= r.description %></p>
					</div>	
				</div>
			<% end %>
		</li>
	<% end %>
	<% if result["youtube"][:items].length == 0 %>
		<li class="error">No results</li>
	<% end %>
</ul>