<% content_for :main do %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Salt:</strong>
    <%= @user.salt %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= @user.date_created %>
  </p>

  <p>
    <strong>Date updated:</strong>
    <%= @user.date_updated %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @user.active %>
  </p>

  <p>
    <strong>Activationkey:</strong>
    <%= @user.activationkey %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @user.street %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= @user.postal_code %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>
