<% content_for :main do %>
  <div class="profile_title">
    <h1><%= @user.username == nil ? @user.email : @user.username %></h1>
  </div>

  <div class="profile_title ">
    <h2>Link Accounts</h2>
  </div>

  <div class="clear"></div>

  <div class="profile_info well well-small col-xs-5">
    <%= link_to 'Edit', edit_user_path(@user), class: ' btn btn-success', style: 'float:right' %>
    <ul class="profile_info_ul">
      <li>
        <strong>Email:</strong>
        <%= @user.email %>
      </li>
      <li>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </li>
      <li>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </li>
      <li>
        <strong>City:</strong>
        <%= @user.city %>
      </li>
      <li>
        <strong>Country:</strong>
        <%= @user.country %>
      </li>
      <li>
        <strong>Street:</strong>
        <%= @user.street %>
      </li>
      <li>
        <strong>Postal code:</strong>
        <%= @user.postal_code %>
      </li>
      <li>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </li>
    </ul>

  </div>
  
  <div class="profile_links well well-small col-xs-5">
    <ul class="profile_links_ul">
      <li>
        <span><strong>Facebook:</strong></span>
        <% if !@user.fb %>  
          <a class="zocial facebook" href="/auth/facebook/">Link with Facebook</a>
        <% else %>
          <%= link_to("Unlink with Facebook", current_user.fb, method: :delete, data: { confirm: "Are you sure?" }, class: "zocial facebook") %>
        <% end %>
      </li>
      <li>
        <span><strong>Twitter:</strong></span>
        <% if !@user.twitter %>  
          <a class="zocial twitter" href="/auth/twitter/">Link with Twitter</a>
        <% else %>
          <%= link_to("Unlink with Twitter", current_user.twitter, method: :delete, data: { confirm: "Are you sure?" }, class: "zocial twitter") %>
        <% end %>
      </li>
      <li>
        <span><strong>Google:</strong></span>
        <% if !@user.google %>  
          <a class="zocial google" href="/auth/google_oauth2/">Link with Google</a>
        <% else %>
          <%= link_to("Unlink with Google", current_user.google, method: :delete, data: { confirm: "Are you sure?" }, class: "zocial google") %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
