<% content_for :main do %>
  <p id="notice"><%= notice %></p>

  <div class="profile_title">
    <h1><%= @user.username %></h1>
  </div>

  <h2>Info</h2>
  <div class="profile_info well well-small">
    <ul class="profile_info_ul">
      <li>
        <strong>Email:</strong>
        <%= @user.email %>
      </li>
      <li>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </li>
      <li>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </li>
      <li>
        <strong>City:</strong>
        <%= @user.city %>
      </li>
      <li>
        <strong>Country:</strong>
        <%= @user.country %>
      </li>
      <li>
        <strong>Street:</strong>
        <%= @user.street %>
      </li>
      <li>
        <strong>Postal code:</strong>
        <%= @user.postal_code %>
      </li>
      <li>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </li>
    </ul>
  </div>

  <h2>Link Accounts</h2>
  <div class="profile_links well well-small">
    <ul class="profile_info_ul">
      <li>
        <strong>Facebook:</strong>
        <%= @user.fb ? "Linked" : "Not Linked" %>
      </li>
      <li>
        <strong>Twitter:</strong>
        <%= @user.twitter ? "Linked" : "Not Linked" %>
      </li>
      <li>
        <strong>Google:</strong>
        <%= @user.google ? "Linked" : "Not Linked" %>
      </li>
    </ul>
  </div>
<% end %>
