<% content_for :main do %>
  <div class="profile_title">
    <h1><%= @user.username == nil ? @user.email : @user.username %></h1>
  </div>

  <h2>Info</h2>
  <div class="profile_info well well-small">
    <ul class="profile_info_ul">
      <li>
        <strong>Email:</strong>
        <%= @user.email %>
      </li>
      <li>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </li>
      <li>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </li>
      <li>
        <strong>City:</strong>
        <%= @user.city %>
      </li>
      <li>
        <strong>Country:</strong>
        <%= @user.country %>
      </li>
      <li>
        <strong>Street:</strong>
        <%= @user.street %>
      </li>
      <li>
        <strong>Postal code:</strong>
        <%= @user.postal_code %>
      </li>
      <li>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </li>
    </ul>
  </div>

  <h2>Link Accounts</h2>
  <div class="profile_links well well-small">
    <ul class="profile_links_ul">
      <li>
        <span><strong>Facebook:</strong></span>
        <a class="zocial facebook" href="/auth/facebook/"><%= @user.fb ? "Unlink" : "Link"  %> with Facebook</a>
      </li>
      <li>
        <span><strong>Twitter:</strong></span>
        <a class="zocial twitter" href="/auth/twitter/"><%= @user.twitter ? "Unlink" : "Link"  %> with Twitter</a>
      </li>
      <li>
        <span><strong>Google:</strong></span>
        <a class="zocial google" href="/auth/google_oauth2/"><%= @user.google ? "Unlink" : "Link"  %> with Google</a>
      </li>
    </ul>
  </div>
<% end %>
