<% content_for :main do %>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Query:</strong>
	  <%= @search.query %>
	</p>

	<p>
	  <strong>Date:</strong>
	  <%= @search.date %>
	</p>

	<%= link_to 'Edit', edit_search_path(@search) %> |
	<%= link_to 'Back', searches_path %>
<% end %>