<% content_for :main do %>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			  	<h1>Social Search</h1>
			  	<p>The search engine for all your social needs!</p>
			  	<form role="form" id="searchForm" method="post">
		  			<div class="form-group search-group">
		  				<div class="input-group">
							<input type="text" class="form-control" id="mainSearch" placeholder="Enter search term ...">
						  	<span class="input-group-btn">
		        				 <button class="btn btn-default btn-search hidden" type="button" id="options_button">Options</button>
		        				 <button class="btn btn-default btn-search" id="search_button" type="submit">Search</button>
		      				</span>
						</div>
		  			</div>
		  			<div class="form-group" id="searchOptions">
		  				<label class="checkbox">
						  <input type="checkbox" value="" name="flickr" data-toggle="checkbox">
						  Flickr
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="twitter" data-toggle="checkbox">
						  Twitter
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="youtube" data-toggle="checkbox">
						  YouTube
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="googleplus" data-toggle="checkbox">
						  Google+
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="facebook" data-toggle="checkbox">
						  Facebook
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="instagram" data-toggle="checkbox">
						  Instagram
						</label>

						<label class="checkbox">
						  <input type="checkbox" value="" name="tumblr" data-toggle="checkbox">
						  Tumblr
						</label>
						<div class="clear"></div>
						<label class="text" id="limit_label">
						  Limit to <input type="text" value="10" name="limit" id="limit"> results
						</label>
		  			</div>
		  		</form>
			</div>
		</div>
	</div>

	<%= button_tag "Next", class: "nextLink btn btn-success", onclick: "showNext()", style: "display:none; margin:5px" %>
	<%= button_tag "Previous", class: "previousLink btn btn-success", onclick: "showPrevious()", style: "display:none; margin:5px" %>
	
	<div class="clear"></div>

	<div id="searchResults">
		<div id="flickr" class="searchResultList" style="display:none;">
			<img src="/assets/flickr-logo.png" class="logoResults" />
			<div class="loader"><%= image_tag "loader.gif" %></div>

			<hr />

			<div class="flickr-results searchData">
			</div>
		</div>
		<div id="twitter" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/twitter-logo.png" class="logoResults" />

			<hr />

			<div class="twitter-results searchData">
			</div>
		</div>

		<div id="youtube" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/youtube-logo.png" class="logoResults" />

			<hr />

			<div class="youtube-results searchData">
			</div>
		</div>

		<div id="googleplus" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/google-logo.png" class="logoResults" />

			<hr />

			<div class="googleplus-results searchData">
			</div>
		</div>

		<div id="facebook" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/facebook-logo.png" class="logoResults" />

			<hr />

			<div class="facebook-results searchData">
			</div>
		</div>

		<div id="instagram" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/instagram-logo.png" class="logoResults" />

			<hr />

			<div class="instagram-results searchData">
			</div>
		</div>

		<div id="tumblr" class="searchResultList" style="display:none;">
			<div class="loader"><%= image_tag "loader.gif" %></div>
			<img src="/assets/tumblr-logo.png" class="logoResults" />

			<hr />

			<div class="tumblr-results searchData">
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		<%= "simulateSearch('#{params[:search]}');".html_safe if params[:search] %>
	});
	</script>
<% end %>
