<!DOCTYPE html>
<html>
<head>
  <title>Socialsearch</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "zocial/zocial.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Social Search</a>
    <ul class="nav">
      <li><a href="/searches">Search</a></li>
      <li><a href="/users">Users</a></li>
	  <li><%= render 'devise/menu/registration_items' %></li>
	  <li><%= render 'devise/menu/login_items' %></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <% if content_for?(:main) %>
  	<%= yield :main %>
  <% end %>


  <% if content_for?(:sidebar) %>
  	<%= yield :sidebar %>
  <% end %>
</div>

</body>
</html>
