<!DOCTYPE html>
<html>
<head>
  <title>Socialsearch</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "zocial/zocial.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">Social Search</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav nav-pills navbar-right">
      <%= render 'devise/menu/login_items' %>
      <%= render 'devise/menu/registration_items' %>
    </ul>
    <span id="search-bin"></span>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
<% if notice %>
  <div class="dialog notice">
    <div class="container">
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <% if content_for?(:main) %>
      	<%= yield :main %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
